div{
    font-family: "helvetica neue", helvetica,sans-serif;
    letter-spacing:3px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0,0,200,0.6);
    background:#20B2AA;
    color:#008000;
    box-shadow:2px 2px 1px;
    border-radius:3px;
    padding:3px 10px;
    display:inline-block;
    cursor:pointer;
}